<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="create_arm">

    <!-- ARM LINK 1 -->
    <link name="arm_link_1">

      <!-- Inertia -->
      <inertial>
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
        <mass value="0.25"/>
        <inertia
          ixx="0.00052083" ixy="0.0" ixz="0.0"
          iyy="0.00052083" iyz="0.0"
          izz="0.00010417"/>
      </inertial>

      <!-- Visual -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://sr_description/meshes/arm_link.dae"
                scale="5 5 3"/>
        </geometry>
      </visual>

      <!-- Collision (simple box for stability) -->
      <collision>
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
        <geometry>
          <box size="0.05 0.05 0.15" scale="5 5 3"/>
        </geometry>
      </collision>

    </link>

    <!-- ARM LINK 2 -->
    <link name="arm_link_2">

      <!-- Inertia -->
      <inertial>
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
        <mass value="0.12"/>
        <inertia
          ixx="0.000116" ixy="0.0" ixz="0.0"
          iyy="0.000116" iyz="0.0"
          izz="0.000032"/>
      </inertial>

      <!-- Visual -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://sr_description/meshes/arm_elbow.dae"
                scale="5 5 2"/>
        </geometry>
      </visual>

      <!-- Collision -->
      <collision>
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
        <geometry>
          <box size="0.04 0.04 0.10" scale="5 5 2"/>
        </geometry>
      </collision>

    </link>

    <!-- JOINT 1 -->
    <joint name="arm_joint_1" type="revolute">
      <parent link="arm_base_link"/>
      <child link="arm_link_1"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
      <limit effort="100.0" velocity="10.0" lower="0.0" upper="1.5708"/>
      <dynamics damping="2.0" friction="0.1"/>
    </joint>

    <!-- JOINT 2 -->
    <joint name="arm_joint_2" type="revolute">
      <parent link="arm_link_1"/>
      <child link="arm_link_2"/>
      <origin xyz="0 0 0.115" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
      <limit effort="100.0" velocity="10.0" lower="0.0" upper="1.5708"/>
      <dynamics damping="2.0" friction="0.1"/>
    </joint>

  </xacro:macro>

</robot>
