<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lifter_bot">

  <xacro:include filename="$(find sr_description)/urdf/material.urdf.xacro"/>
  <xacro:include filename="$(find sr_description)/urdf/base.urdf.xacro"/>
  <xacro:include filename="$(find sr_description)/urdf/wheel.urdf.xacro"/>
  <xacro:include filename="$(find sr_description)/urdf/arm.urdf.xacro"/>
  <xacro:include filename="$(find sr_description)/urdf/lifter_gazebo.urdf.xacro"/>


  <xacro:create_base/>
  <xacro:create_wheels/>
  <xacro:create_arm/>
  <xacro:gazebo_setup_lift/>

</robot>
