<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="gazebo_setup_lift" params="robot_ns">

    <gazebo>
        <plugin
        filename="ignition-gazebo-velocity-control-system"
        name="gz::sim::systems::VelocityControl">
        </plugin>

        <plugin filename="ignition-gazebo-joint-state-publisher-system"
        name="ignition::gazebo::systems::JointStatePublisher">
        </plugin>

        <!-- ign topic -t "/model/{bot_name}/joint/arm_base/cmd_vel" -m ignition.msgs.Double -p "data: 10.0" -->
        <plugin filename="ignition-gazebo-joint-controller-system"
        name="gz::sim::systems::JointController">
        <joint_name>arm_joint_1</joint_name>
        </plugin>

        <plugin filename="ignition-gazebo-joint-controller-system"
        name="gz::sim::systems::JointController">
        <joint_name>arm_joint_2</joint_name>
        </plugin>
        
        <plugin filename="libignition-gazebo6-odometry-publisher-system.so" 
        name="ignition::gazebo::systems::OdometryPublisher">
          <body_name>base_link</body_name>
          <odom_publish_frequency>100</odom_publish_frequency>
          <odom_topic>${robot_ns}/odom</odom_topic>
          <tf_topic>${robot_ns}/tf</tf_topic>
        </plugin>
        
    </gazebo>
  </xacro:macro>
</robot>