<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="gazebo_setup_run">

    <!-- ================= BASE ================= -->
    <gazebo reference="base_link">
      <mu1>0.3</mu1>
      <mu2>0.3</mu2>
    </gazebo>

    <!-- ================= MECANUM WHEELS ================= -->
    <gazebo reference="wheel_fl">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>100000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="wheel_fr">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>100000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="wheel_bl">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>100000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="wheel_br">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>100000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>


    <!-- ================= ACTUATOR LINKS ================= -->
    <gazebo reference="piston_base"/>
    <gazebo reference="piston_rod"/>
    <gazebo reference="piston_head"/>
    

    <!-- ================= ARM JOINT DYNAMICS ================= -->
    <gazebo reference="piston_rod_joint">
      <implicitSpringDamper>true</implicitSpringDamper>
    </gazebo>


    <!-- ================= ROS2 CONTROL (REQUIRED) ================= -->


  </xacro:macro>

</robot>
