<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mecanum_wheel" params="name x y mesh">

    <link name="${name}">
      <visual>
        <origin rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://sr_description/meshes/${mesh}" scale="0.0018  0.0018 0.0018 "/>
        </geometry>
        <material name="dark_grey"/>
      </visual>

      <collision>
        <origin rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.05" length="0.04"/>
        </geometry>
      </collision>

      <inertial>
        <mass value="0.5"/>
        <inertia ixx="0.001" iyy="0.001" izz="0.001"
                 ixy="0" ixz="0" iyz="0"/>
      </inertial>
    </link>

    <joint name="${name}_joint" type="continuous">
      <parent link="base_link"/>
      <child link="${name}"/>
      <origin xyz="${x} ${y} 0.05"/>
      <axis xyz="0 1 0"/>
    </joint>

  </xacro:macro>

  <xacro:macro name="create_wheels">
    <xacro:mecanum_wheel name="wheel_fl" x="0.2" y="0.2" mesh="mecanum_wheel_left.stl"/>
    <xacro:mecanum_wheel name="wheel_fr" x="0.2" y="-0.2" mesh="mecanum_wheel_right.stl"/>
    <xacro:mecanum_wheel name="wheel_bl" x="-0.2" y="0.2" mesh="mecanum_wheel_right.stl"/>
    <xacro:mecanum_wheel name="wheel_br" x="-0.2" y="-0.2" mesh="mecanum_wheel_left.stl"/>
  </xacro:macro>

</robot>
