<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mecanum_wheel" params="name mesh shaft_link offset axis">

    <link name="${name}">
      <visual>
        <origin rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://sr_description/meshes/${mesh}" scale="0.0018 0.0018 0.0018"/>
        </geometry>
        <material name="dark_grey"/>
      </visual>

      <collision>
        <!-- Cylinder axis along X (wheel rotation axis) -->
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://sr_description/meshes/${mesh}" scale="0.0018 0.0018 0.0018"/>
        </geometry>
      </collision>

      <inertial>
        <origin rpy="0 0 0"/>
        <mass value="0.5"/>
        <inertia
          ixx="0.001"
          iyy="0.001"
          izz="0.001"
          ixy="0"
          ixz="0"
          iyz="0"/>
      </inertial>
    </link>

    <joint name="${name}_joint" type="continuous">
      <parent link="${shaft_link}"/>
      <child link="${name}"/>
      <!-- Offset outward from shaft -->
      <origin xyz="0 ${offset} 0"/>
      <!-- Rotation around X axis -->
      <axis xyz="0 ${axis}  0"/>
      <limit effort="100.0" velocity="40.0" />
    </joint>

  </xacro:macro>


  <xacro:macro name="create_wheels">

    <!-- Front Left -->
    <xacro:mecanum_wheel
      name="wheel_fl"
      mesh="mecanum_wheel_left.stl"
      shaft_link="shaft_fl"
      offset="0.1"
      axis="1"/>

    <!-- Front Right -->
    <xacro:mecanum_wheel
      name="wheel_fr"
      mesh="mecanum_wheel_right.stl"
      shaft_link="shaft_fr"
      offset="0.1"
      axis="-1"/>

    <!-- Back Left -->
    <xacro:mecanum_wheel
      name="wheel_bl"
      mesh="mecanum_wheel_right.stl"
      shaft_link="shaft_bl"
      offset="0.1"
      axis="1"/>

    <!-- Back Right -->
    <xacro:mecanum_wheel
      name="wheel_br"
      mesh="mecanum_wheel_left.stl"
      shaft_link="shaft_br"
      offset="0.1"
      axis="-1"/>

  </xacro:macro>

</robot>